.arenaContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-bottom: 2rem;   
}

.arenaName {
    background-color: #121212;
    height: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.arenaName small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
}